body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    height: 100%;
    //background-color: #e4e4e4;
}

html,
#root {
    height: 100%;
}

.button-collapse[data-activates="nav-mobile"] {
    display: none;
}

a[data-activates="sidenav_0"] {
    position: absolute;
    top: 1.2rem;
    left: 0.5rem;
    color: #fafafa;
    font-size: 1.3rem;
}

// .row {
//     display: flex;
//     margin-bottom: 0;
//     flex-wrap: wrap;
// }

.userView {
    background-color: #ee6e73;
}

.principal {
    width: calc(100% - 300px);
    margin-left: 300px;
    height: 100%;

    > div {
        height: calc(100% - 64px);
    }

   

    .brand-logo {
        background: url(./imagens/logo.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        color: rgba(0, 0, 0, 0);
        pointer-events: none;
        cursor: pointer;
        width: 120px;
        text-indent: -9999px;
        margin: 0 1rem;
    }
    .cachorros {
        img {
            max-width: 240px;
        }
    }
}

@media only screen and (max-width: 992px) {
    .principal {
        width: 100%;
        margin-left: 0;
    }
}
